In [1]:
#  For data manipulation
import pandas as pd
# setting option
pd.set_option("display.max_rows",5)
reviews = pd.read_csv("../datasets/wine_reviews.csv",index_col=0)

reviews[:1]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [2]:
# selecting first value of description column and assigning to variable
First_description = reviews['description'][0]

In [20]:
# checkout https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

# Both loc and iloc are row-first, column-second.
# This is the opposite of what we do in native Python, which is column-first, row-second.

# using iloc method when index label of dataframe is something other than numeric series[o,1,2,3...]
# or incase user doesn't know index value
# reviews.iloc[:,0]
single_row = reviews.iloc[0]

# selecting first 10 values from description column and assigning to variable
first_descriptions = reviews.description.iloc[:10]
# first_descriptions

0          Italy
1          12345
           ...
129969      9999
129970    France
Name: country, Length: 129971, dtype: object

In [4]:
# selecting records with index labels 1,2,3,5,8,10 AND assigning the result to variable
indices = [1,2,3,5,8,10]

selected_records = reviews.iloc[indices]

# selected_records

In [5]:
# selecting records with column names ['country','description','region_1','region_2','province'] 
# And index labels [1,2,3,5,8,10]
# using loc lable based method .loc[row_indices, column_indices] 
indices, columns = [1,2,3,5,8,10], ['country','description','region_1','region_2','province']
custom_record = reviews.loc[indices,columns]
# custom_record

# or indices 0 from 99
custom_record1 = reviews.loc[0:99,columns]
# custom_record1

In [6]:
# selecting through conditon statement
# type1
portugal_wines = reviews.loc[reviews.country == 'Portugal']
# type2
portugal_wines1 = reviews.loc[lambda reviews: reviews.country == 'Portugal']
# portugal_wines

In [7]:
# set an value to entire row
cool = 12345
entire_row = reviews.loc[1,:] = cool
# reviews.head(3)

In [8]:
# set an value to entire column
entire_column = reviews.loc[:,'region_2'] = cool
# reviews.head(3)

In [13]:
# set an value for row matching callable condition
reviews.loc[reviews['price'] == 32] = 9999
# NaN_price
# reviews.loc[reviews.price == 9999]

In [22]:
# selecting top ociena wines using condition
countries = ['Australia','New Zealand']
top_oceania_wines = reviews.loc[(reviews.country.isin(countries)) & (reviews.points >= 95)]
# top_oceania_wines

In [29]:
# Manipulating index value
price_index = reviews.set_index('price')
# price_index

In [30]:
# Conditional selection retu
reviews.country == "Italy"

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool