In [33]:
import pandas as pd
import sqlite3

# creating connection to database
conn = sqlite3.connect("../datasets/database.sqlite")

# fetching actual tables in database and 
# tables [reviews,artists,genres,labels,years,content]
tables = pd.read_sql(
    "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%'", conn)

In [47]:
#  case statement by condition expression
years = pd.read_sql(
    'SELECT reviewid, IFNULL(year,0), CASE WHEN year < 2010 THEN "the year less than 2010" ELSE "the year more than 2010" END AS yeartext FROM years', conn)

# fetching years column without null
years_without_null = pd.read_sql('SELECT * FROM years WHERE year IS NOT NULL', conn)

In [35]:
# using aggregate function COUNT and null function
years = pd.read_sql('SELECT COUNT(year), IFNULL(year,"vinodh") FROM years GROUP BY year', conn)

In [ ]:
# fetching reviews table with conn
reviews = pd.read_sql("SELECT * FROM reviews INNER JOIN artists WHERE reviews.reviewid < '10'", conn)