In [1]:
import pandas as pd

reviews = pd.read_csv('../datasets/wine_reviews.csv',index_col=0)
reviews.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [2]:
# renaming column names -> region_1 to region and region_2 to locale

renaming_type1 = reviews.rename(columns={'region_1':'region','region_2':'locale'})

# or renaming_type2 = reviews.rename(columns = dict(region_1 = 'region', region_2 = 'locale'))

In [4]:
# setting index rows name to S.No & columns name to labels 
reindexed = reviews.rename_axis('S.No',axis='rows').rename_axis('labels',axis="columns")

# renaming index values to int to str 
reindex2 = reviews.rename(index = {0:'First Entry',1:'Second Entry'})

In [46]:
# creating dataframes for applied jobs on java and python
# applied java developers
df1 = pd.DataFrame({'name':['john','krish','sam','vinvals'],'role':'Java Developer','index':[1,2,3,4]})

# applied python developers
df2 = pd.DataFrame({'name':['Akhil','vasanth','Edsheren','camila cabello'],'role':'python Developer','index':[1,2,3,4]})

# concating two split dataframes into single sheet, 
# using axis(1) - the data will concat to column otherwise would concat to row
total_applied = pd.concat([df1,df2],axis=1)
# total_applied

# setting index to indices
left = df1.set_index('index')
right = df2.set_index('index')

# IN JOIN suffix parameters will add the suffix_value before column_name 
# if column names are same(we wouldn't need them to rename)
# should have same length of index values in both Dframes...
left.join(right, lsuffix="_java", rsuffix="_python")

          name            role           name1             role1
index
1         john  Java Developer           Akhil  python Developer
2        krish  Java Developer         vasanth  python Developer
3          sam  Java Developer        Edsheren  python Developer
4      vinvals  Java Developer  camila cabello  python Developer