In [27]:
import pandas as pd
import sqlite3

# creating connection to database
conn = sqlite3.connect("../datasets/database.sqlite")

# fetching actual tables in database
tables = pd.read_sql(
    "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%'", conn)

# fetching reviews table using conn
reviews = pd.read_sql("SELECT * FROM reviews WHERE reviewid < '10'", conn)
tables

      name
0  reviews
1  artists
2   genres
3   labels
4    years
5  content