In [1]:
import pandas as pd
import sqlite3

# creating connection to database
conn = sqlite3.connect("../datasets/database.sqlite")

# fetching actual tables in database and 
# tables [reviews,artists,genres,labels,years,content]
tables = pd.read_sql(
    "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%'", conn)

In [2]:
#  case statement by condition expression
years = pd.read_sql(
    'SELECT reviewid, IFNULL(year,0), CASE WHEN year < 2010 THEN "the year less than 2010" ELSE "the year more than 2010" END AS yeartext FROM years', conn)

# fetching years column without null
years_without_null = pd.read_sql('SELECT * FROM years WHERE year IS NOT NULL', conn)

# fecthing DISTINCT(different values only) years 
distinct_years = pd.read_sql('SELECT DISTINCT year FROM years', conn)

In [5]:
#  ordering by year ascending(ASC)
asc_years = pd.read_sql('SELECT * FROM years WHERE year IS NOT NULL ORDER BY year', conn)

# using aggregate function COUNT and null function
years_count = pd.read_sql('SELECT COUNT(year), IFNULL(year,0000) FROM years GROUP BY year', conn)

In [13]:
# fetching reviews and artists using INNER JOIN table by conn
reviews = pd.read_sql("SELECT * FROM reviews INNER JOIN artists WHERE reviews.reviewid LIMIT '10'", conn)

# fetching 5 last rows as first index rows with asc
last_five_rows_of_years = pd.read_sql('SELECT * FROM (SELECT * FROM years ORDER BY reviewid DESC LIMIT 5) ORDER BY reviewid ASC', conn)